/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Variables */
:root {
	--primary: #fe5244;
	--primary-dark: #b32b1e; 
	--primary-light: #fbf4f4;
	--black: #000;
	--white: #fff;
}

/* Global styes */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
/* 	border: 1px var(--black) solid; */
}

html {
	font-size: 16px;
}

body {
	background: var(--primary-light);
	font-family: 'Inter', sans-serif;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
}

/* Header */
header {
	padding: 24px 0;
}

header .logo {
	height: 40px;
}

/* Main lockup */
.main-lockup .container {
	display: flex;
}

.main-lockup-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 20px;
}

.main-lockup-content h1 {
	font-size: 3rem;
	line-height: 1.25;
	margin-bottom: 1rem;
	font-weight: 700;
}

.main-lockup-content p {
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 2.5rem;
}

.main-lockup-content .contact button {
	background: var(--primary);
	color: var(--white);
	border-radius: 100px;
	padding: 24px 32px;
	border: 0px var(--black) solid;
	font-size: 1.125rem;
	font-weight: 600;
	margin-right: 2.5rem;
}

.main-lockup-content .contact a {
	color: var(--primary);
	font-size: 1.125rem;
	font-weight: 600;
	text-decoration: none;
}

.main-lockup .illustration {
	align-self: center;
}

/* Logo cloud */

/* Problems */

/* Book a call */

/* Services */

/* Differentiators */

/* Client list */

/* Contact us */

/* Footer */

/* Media queries */
@media (max-width: 768px) {
	.main-lockup .container {
		display: flex;
		flex-direction: column;
	}
}